h1 {
  font-family: 'Lato';
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  margin: 30px auto 20px;
}

p {
  font-family: 'Lato';
  font-weight: 700;
  display: inline-block;
  font-size: 22px;
  text-align: center;
  width: 250px;
  margin: auto;
}

.score-wrap {
  text-align: center;
}


#screen {
  border: 1px solid black;
  display: block;
  margin: 20px auto;
}

